@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
 
  @return $map;
}

@function palette($tone: 'primary', $variant: 'base') {
  @return map-deep-get($colors, $tone, $variant);
}